@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(to bottom, #3dda84, #1a5c38);
  width: auto;
  height: 250px;
}

#titulo {
  padding-top: 25px;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
  font-size: 32pt;
  color: white;
}

#subtitulo {
  padding-top: 30px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16pt;
  color: white;
}

#menu {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 30px;
  text-decoration: none;
  font-size: 14pt;
  font-weight: 500;
}

#menunav {
  padding-top: 50px;
  margin-top: 30;
  margin-left: 30px;
}